input:-webkit-autofill {
    box-shadow: 0 0 0 1000px transparent inset !important;
    /* change `white` to match your design */
    -webkit-text-fill-color: body !important;
    transition: background-color 9999s ease-in-out 0s;
}